{{!
You can use this template to render any errors on your site if you wish
}}
<main>
    <h1 class="error-title">Not Found</h1>
    <p class={{{class}}}>{{error}}{{{searchCharacterByName}}}.</p>
</main>
<footer>
    <a href="/">Search for Another Character</a>
</footer>